<app-navbar-home></app-navbar-home>
  
	<span *ngIf="viewCart">
		<app-carrito (viewCartd)="changeBoolean($event)"></app-carrito>
	</span>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85 pt-3 pt-5">
		<div class="container mt-5">
			<div class="row">
			
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Producto</th>
									<th class="column-2"></th>
									<th class="column-3">Precio</th>
									<th class="column-4">Cantidad</th>
								</tr>

								<tr class="table_row" *ngFor="let x of Carrito">
									<td class="column-1">
										<div class="how-itemcart1" (click)="deleteItem(x.$key)">
											<img src="{{x.imagenProducto}}" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{x.nombreProducto | changeLine}}</td>
									<td class="column-3">$ {{x.precioUnitario}}</td>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" (click)="updateMenos(x)">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="{{x.cantidad}}">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" (click)="updateMas(x)">
												<i class="fs-16 zmdi zmdi-plus" ></i>
											</div>
										</div>
									</td>
								</tr>

								
							</table>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
                			Terminá tu pedido
						</h4>
						<div class="row">		
						<div class="radio col-12">
								<label><input type="radio" name="optradio" checked (change)="Envio = false"> Acordar retiro/entrega con el vendedor</label>
							  </div>
							  <div class="radio col-12" *ngIf="tieneEnvio">
								<label><input type="radio" name="optradio" (change)="Envio = true"> Enviar mi pedido ( MercadoEnvios )</label>
							  </div>	 
						</div>
						
						<div class="flex-w flex-t bor12 p-b-13 pt-3">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2">
									${{precioTotal}}
								</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
 									Información necesaria:
								</span>
							</div>

							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								<div class="p-t-15 pb-2">
									<form>
									<div class="bor8 bg0 m-b-22 mb-3">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Email" [(ngModel)]="Email">
									</div>
									<b class="text-danger" *ngIf="BoolEmail">* Debes completar este campo</b>
									<div class="bor8 bg0 m-b-22">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="number" name="postcode" placeholder="Telefono" [(ngModel)]="Telefono" >
									</div>
									<b class="text-danger" *ngIf="BoolTelefono">* Debes completar este campo</b>
									<div class="bor8 bg0 mb-3 m-b-22">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Nombre" [(ngModel)]="Nombre">
									</div>
									<b class="text-danger" *ngIf="BoolNombre">* Debes completar este campo</b>
									<div class="bor8 bg0 m-b-22">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="number" name="postcode" placeholder="DNI" [(ngModel)]="DNI">
									</div>
									<b class="text-danger" *ngIf="BoolDNI">* Debes completar este campo</b>
									</form>		
                				</div>
                <span><small>Una vez completes los campos y realices la compra, se te llevará al sitio de MercadoPago para que el proceso sea comodo y seguro. Si queres que te envien el producto por MercadoEnvios, ellos te cotizarán el envio.</small></span>
							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
						
            </div>
			<a class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer text-white" (click)="goMercado()">
              Realizar compra
            </a>
					</div>
				</div>
			</div>
		</div>

		</form>
		
	
	<div class="edit-web" *ngIf="buttonEdit" routerLink="/backend/inicio">
		<p>Configuración de la web</p>
	  </div>

	<!-- Footer -->
<app-footerweb></app-footerweb>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

