<div class="wrap-header-cart js-panel-cart" >
      <div class="s-full js-hide-cart"></div>
  
      <div class="header-cart flex-col-l p-l-65 p-r-25" (blur)="clickTo()">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
          <span class="mtext-103 cl2">
            Tu carrito
          </span>
  
          <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart" (click)="clickTo()">
            <i class="zmdi zmdi-close"></i>
          </div>
        </div>
        <div *ngIf="Carrito.length === 0" class="header-cart-content flex-w js-pscroll text-center">
          No hay productos en tu carrito
        </div>
        <div class="header-cart-content flex-w js-pscroll">
          <ul *ngIf="Carrito.length !== 0" class="header-cart-wrapitem w-full">

            <li class="header-cart-item flex-w flex-t" *ngFor="let x of Carrito">
              <div class="header-cart-item-img m-t-8" (click)="deleteItem(x.$key)">
                <img src="{{x.imagenProducto}}" alt="carrito">
              </div>
  
              <div class="header-cart-item-txt p-t-8">
                <a routerLink="/detalle/{{key}}/{{x.nombreProducto}}" class="header-cart-item-name hov-cl1 trans-04">
                  {{x.nombreProducto | changeLine}}                  
                </a>
  
                <span class="header-cart-item-info">
                  {{x.cantidad}} x ${{x.precioUnitario}}
                </span>
              </div>
            </li>
          </ul>
          
          <div class="w-full">
            <div class="header-cart-total w-full p-tb-40">
              Total: ${{precioTotal}}
            </div>
  
            <div class="header-cart-buttons flex-w w-full text-center">
              <a routerLink="/checkout/{{key}}" class="flex-c-m text-center stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                Finalizar compra
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>