<section class="top">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
          <h2>¡Ups parece que hemos tenido un problema!</h2>
          <h5>Al parecer la tienda que estas intentando acceder ha caducado su plan.</h5>
          <h6>Si sos el dueño de esta tienda, por favor, escribi tu email y renova tu plan.<br>
          </h6>
      </div>
    </div>
  </div>
</section>
<section class="bottom">
  <div class="container">
    <div class="row text-center mt-5">
      <div class="col-12">
        <h5>Renovar plan</h5>
      </div>
          <form class="offset-2 col-8">
      <div class="col-12">
          <mat-form-field class="">
              <input matInput type="text" placeholder="Email" name="wpp" [(ngModel)]="Email">
          </mat-form-field>
      </div>
      <div class="col-12">
        <button mat-raised-button color="primary" class="middle-width" (click)="SendInfo()">Renovar plan</button>
      </div>
    </form>
    </div>
  </div>
</section>