<div class="main-content mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title "> <b>Imagenes de portada</b> <small>(Recomendamos 1400px x 600px)</small></h3>
                      </div>
                    <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-12">
                                <label class="labelFile text-center">
                                  Agregar imagen
                                  <input type="file" id="upload-file" (change)="selectFile($event)">
                                </label>
                                <div *ngIf="currentFileUpload" class="progress">
                                  <div class="progress-bar progress-bar-info progress-bar-striped"
                                    role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                                    aria-valuemin="0" aria-valuemax="100"
                                    [ngStyle]="{width:progress.percentage+'%'}">
                                    {{progress.percentage}}%</div>
                                </div>
                              </div>
                            </div>
      
                          <div class="row mt-3">
                              <div class="col-12 text-center" *ngFor="let x of arrayImg">
                                <div class="img-container">
                                  <span class="cerrar-img" (click)="closeImg(x)"><b>X</b></span>
                                  <img src="{{x}}">
                                </div>
                              </div>
                            </div>
                      </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  