<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title text-center">Administracion de anuncios</h2>
                        <h5><small>Los anuncios se mostrarán en el inicio de la pagina, en un carrusel. Las recomendaciones son subir una imagen bien nitida e iluminada de 1920px x 1020px. Que su peso no sea mayor a 4MB</small></h5>
                      </div>
                    <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-12">
                                <label class="labelFile text-center">
                                  Agregar imagen
                                  <input type="file" id="upload-file" (change)="selectFile($event)">
                                </label>
                                <div *ngIf="currentFileUpload" class="progress">
                                  <div class="progress-bar progress-bar-info progress-bar-striped"
                                    role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                                    aria-valuemin="0" aria-valuemax="100"
                                    [ngStyle]="{width:progress.percentage+'%'}">
                                    {{progress.percentage}}%</div>
                                </div>
                              </div>
                            </div>
      
                          <div class="row mt-3">
                              <div class="col-12 text-center" *ngFor="let x of arrayImg">
                                <div class="img-container">
                                  <img src="{{x}}">
                                </div>
                                <span class="cerrar-img" (click)="closeImg(x)"><b>X</b></span>
                              </div>
                            </div>
                      </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  