<app-navbar-home></app-navbar-home>
<img class="banner" src="{{banner}}" *ngIf="banner">
<section class="py-5">
  <div class="container">
    <div class="row">
        
      <div class="col-md-2 col-12 hide-mobile">
        <div class="row ">
          <div class="col-md-12 pb-4">
            <h3>Categorias</h3>
          </div>
          <div class="col-md-12" *ngFor="let x of listCategory">
            <a class="cp" (click)="clickFilter(x.name)">{{x.name}}</a>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3 text-center hide-note">
          <button type="button" class="btn btn-outline-dark pull-right" data-toggle="modal" data-target="#exampleModal">
              <i class="material-icons">pageview</i> Filtrar 
            </button>
      </div>
      <div class="col-md-10 col-12">
        <div class="row">
          <div class="col-md-12 hide-mobile">
            <select class="pull-right" (change)="ordenar($event.target.value)">
              <option value="orden">Ordernar por</option>
              <option value="mayor">Por mayor precio</option>
              <option value="menor">Por menor precio</option>
            </select>
            <i class="material-icons pos">arrow_drop_down</i>
          </div>
          <div class="productos">
            <div class="row plypr pt-4">
              <div class="col-sm-6 col-md-4 col-6 col-lg-3 p-b-35 isotope-item women" *ngFor="let product of listFilter ">
                  <!-- Block2 -->
                  <div class="block2">
                    <div class="block2-pic hov-img0">
        							<span class="oferta-producto" *ngIf="product.offer !== 0">OFF %{{product.offer}}</span>

                      <img src="{{product.img[0]}}" alt="IMG-PRODUCT">
        
                      <a routerLink="/detalle/{{key}}/{{product.name}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                        Ver más
                      </a>
                    </div>
         
                    <div class="block2-txt flex-w flex-t p-t-14">
                      <div class="block2-txt-child1 flex-col-l ">
                        <a routerLink="/detalle/{{key}}/{{product.name}}" class="stext-104 text-dark hov-cl1 trans-04 js-name-b2 p-b-6">
                          {{product.name | uppercase | changeLine}}
                        </a>
        
                        <span class="stext-105 text-dark">
                          ${{product.price}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>    
        </div>
      </div>
    </div>
  </div>

</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mx-0 my-0" role="document">
    <div class="modal-content filtro-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </h5>
      <b (click)="applyFilter()" data-dismiss="modal" aria-label="Close">Aplicar</b>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mt-3 text-center">
            Categorias
          </div>
            <div class="categorias mt-3">
              <a class="item-categoria" *ngFor="let x of listCategory" id={{x.name}} (click)="selectCategory(x.name)">{{x.name}}</a>
            </div>
        
        <div class="col-12 mt-5 text-center">
          Ordenar
        </div>
        <div class="categorias mt-3">
            <a class="item-categoria" id="true" (click)="selectPrecio(true)">Mayor precio</a>
            <a class="item-categoria" id="false" (click)="selectPrecio(false)">Menor precio</a>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<app-footerweb></app-footerweb>