  <!-- Footer -->
  <footer class="bg3 p-t-75 p-b-32 colorCliente">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-4 p-b-50">
            <h4 class="stext-301 cl0 p-b-30 colorFuente">
              Categorias
            </h4>
  
            <ul>
              <li class="p-b-10" *ngFor="let x of listCategory">
                <a routerLink="/productos/{{key}}" class="stext-107 cl7 hov-cl1 trans-04 colorFuente">
                  {{x.name}}
                </a>
              </li>
            </ul>
          </div>
  
          <div class="col-sm-12 col-lg-4 p-b-50">
            <h4 class="stext-301 cl0 p-b-30 colorFuente">
              Contacto
            </h4>
  
            <ul>
              <li class="p-b-10">
                <a class="stext-107 cl7 hov-cl1 tsts trans-04 colorFuente">
                  <i class="fa ic fa-whatsapp"></i>
                  {{WhatsApp}}
                </a>
              </li>

              <li class="p-b-10">
                <a href="{{Facebook}}" class="stext-107 cl7 hov-cl1 trans-04 colorFuente">
                  
                  <i class="fa ic fa-facebook-square colorFuente"></i>   {{Facebook}}
                </a>
              </li>
  
              <li class="p-b-10">
                <a href="{{Instagram}}" class="stext-107 cl7 hov-cl1 trans-04 colorFuente">
                    <i class="fa ic fa-instagram colorFuente
                    "></i>
                  {{Instagram}}
                </a>
              </li>
            </ul>
          </div>
  
          <div class="col-sm-12 col-lg-4 p-b-50">
            <h4 class="stext-301 cl0 p-b-30 colorFuente">
              Información
            </h4>
  
            <p class="stext-107 cl7 size-201 colorFuente" *ngIf="!informacion">
              Web hecha por el equipo de ChangoFree. Contestamos consultas y damos asersoria sin cargo por redes sociales.
            </p>
            <p class="stext-107 cl7 size-201 colorFuente" *ngIf="informacion">
              {{informacion}}
            </p>
            
          </div>
        </div>
  
        <div class="p-t-40">
  
          <p class="stext-107 cl6 txt-center colorFuente">
            Tienda online creada con <a href="https://changofree.com">ChangoFree</a> - 2018
           </p>
        </div>
      </div>
    </footer>