<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title text-center"> Agregar un producto</h2> 
                        <button mat-raised-button color="primary" class="pull-right mr-1" routerLink="/backend/listado-productos">Volver</button>
                      </div>
                    <div class="card-body">
                      <form>
                      <mat-form-field>
                        <input matInput type="text" placeholder="Nombre del producto" name="name" (change)="updateTemp()" [(ngModel)]="StoreProduct.name">
                      </mat-form-field>
                      <mat-form-field>
                        <textarea matInput type="text" placeholder="Descripcion del producto" style="min-height: 50px" (change)="updateTemp()" name="descripcion" [(ngModel)]="StoreProduct.description"></textarea>
                      </mat-form-field>
                      <div class="row">
                      <mat-form-field class="col-3">
                          <input matInput type="number" placeholder="Precio del producto" name="precio" value="00.00" [(ngModel)]="StoreProduct.price" (change)="updateTemp()">
                      </mat-form-field>
                      <mat-form-field class="col-3">
                          <input matInput type="number" placeholder="Cantidad de productos en stock" name="stock" [(ngModel)]="StoreProduct.stock" (change)="updateTemp()">
                      </mat-form-field>
                      <mat-form-field class="col-3">
                          <input matInput type="text" placeholder="Codigo del producto" name="codigo" [(ngModel)]="StoreProduct.code" (change)="updateTemp()">
                      </mat-form-field>
                      <div class="form-group col-3">
                          <select class="form-control" id="exampleFormControlSelect1" name="category" [(ngModel)]="StoreProduct.category" (change)="updateTemp()">
                            <option value="0">Seleccionar una categoria</option>
                            <option *ngFor="let x of listCategory" value="{{x.name}}">{{x.name}}</option>
                          </select>
                          <a  data-toggle="modal" data-target="#registroModal" >+ Agregar otra categoria</a>
                        </div>
                      </div>
                     
                      <div class="row">
                        <div class="col-12">
                          <label class="labelFile text-center" id="labelFile">
                            Agregar imagen
                            <input type="file" id="upload-file" (change)="selectFile($event)">
                          </label>
                          <div *ngIf="currentFileUpload" class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped"
                              role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                              aria-valuemin="0" aria-valuemax="100"
                              [ngStyle]="{width:progress.percentage+'%'}">
                              <a *ngIf="progress.estado === null">
                                {{progress.percentage}}%
                              </a>
                              <a *ngIf="progress.estado !== null">
                                  {{progress.estado}}
                              </a>
                            </div>
                            </div>

                        </div>
                      </div>
                      <div class="row mt-3">
                          <div class="col-12 col-md-6 col-lg-3 col-xs-12 col-sm-12 text-center" *ngFor="let x of arrayImg">
                            <div class="img-container">
                              <span *ngIf="x"class="cerrar-img" (click)="closeImg(x)"><b>X</b></span>
                              <img src="{{x}}">
                            </div>
                          </div>
                        </div>
                    </form>
                    <div class="row mt-2">
                      <div class="col-12 text-center mt-2">
                        <button mat-raised-button color="primary" (click)="storeProducto()">Agregar producto</button>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  
  <div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel"><b>Agregar categoria</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h3 class="text-center"> Nombre de la categoria </h3>
                        <form>
                        <mat-form-field class="max-width">
                            <input matInput type="text" placeholder="Escribi el nombre de la categoria" name="email" [(ngModel)]="nameCategory">
                        </mat-form-field>
                        </form>
            
        </div>
        <div class="modal-footer">
                <button mat-raised-button class="max-width btn-crear-tienda" color="primary" data-dismiss="modal" (click)="addCategoria()">Agregar</button>
        </div>
      </div>
    </div>
  </div>