.simple-text{
    font-size:12px!important;
}
.sidebar-wrapper{
    overflow: auto!important;
}
li.active > a{
    background: #00a7ff;
    box-shadow:0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(54, 130, 244, 0.4);

}
.pf{
    padding: 10px;
    font-size: 10px;
}
.bold{
    font-weight: bold!important;
}
.p-ri{
    float: right!important;
}
.a-desp{
    background: #00000014;
    font-weight: bolder;
    cursor: pointer;
}
.algo{
    position: relative;
    left: 20px;
    background: #19b1c5;
    padding: 5px;
    border-radius: 6px;
    color: white;
}