<app-navbar-home></app-navbar-home>
<section style="background: white!important;">
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3 style="color:black">Información de contacto</h3>
      <p>WhatsApp : {{clienteInfo.web.whatsapp}}</p>
      <p>Facebook: {{clienteInfo.web.facebook}}</p>
      <p>Instagram: <a href="https://www.instagram.com/{{clienteInfo.web.instagram}}">{{clienteInfo.web.instagram}}</a></p>
    </div>
  </div>
</div>
</section>
<app-footerweb></app-footerweb>