<div class="main-content mt-2">
  <div class="container-fluid">
      <div class="row">


      </div>

      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">library_books</i>
                      </div>
                      <p class="card-category">Pedidos pendientes</p>
                      <h3 class="card-title">{{cantPedido}}</h3>
                  </div>
                  <div class="card-footer">
                        <div class="stats">
                          Pedidos para verificar
                        </div>
                 </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Recaudado</p>
                      <h3 class="card-title">$ {{totalAcumulado}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i>Desde el inico de la tienda
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-12  col-lg-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Cantidad de ventas mensuales</h4>
                        <p class="card-category">Ventas mensuales</p>
                        <small>FASE BETA: El funcionamiento del grafico se encuentra en pleno desarrollo.</small>
                    </div>
                    
                </div>
            </div> -->
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-info">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <span class="nav-tabs-title">Mensajes de ChangoFree:</span>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <p *ngFor="let x of listNotificaciones"><b>ChangoFree :</b>{{x.mensaje}}</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ultimas ventas</h4>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Numero pedido</th>
                              <th>Nombre</th>
                              <th>Monto</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let x of listVentas">
                                  <td>{{x.pedido}}</td>
                                  <td>{{x.nombres}}</td>
                                  <td>$ {{x.total}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
