<div class="f-width py-3" *ngIf="buttonEdit">
	<div class="container">
		<div class="row">
			<div class="col-12 bt-c">
				<button type="button" class="btn btn-outline-light ov text-white ml-4" routerLink="/backend/inicio">Configurar web</button>
				<button type="button" class="btn btn-outline-light ov text-white ml-4" (click)="reload()">Cerrar sesión</button>
			</div>
		</div>
	</div>
</div>
<app-navbar-home></app-navbar-home>
<!-- Header -->

	<!-- Slider -->
	<section class="section-slide" *ngIf="arrayImg[0]">
			<div id="demo" class="carousel slide" data-ride="carousel">

					<!-- Indicators -->
					<ul class="carousel-indicators">
					  <li data-target="#demo" data-slide-to="0" class="active" *ngIf="arrayImg[0]"></li>
					  <li data-target="#demo" data-slide-to="1" *ngIf="arrayImg[1]"></li>
					  <li data-target="#demo" data-slide-to="2" *ngIf="arrayImg[2]"></li>
					</ul>
				  
					<!-- The slideshow -->
					<div class="carousel-inner">
					  <div class="carousel-item active" *ngIf="arrayImg[0]">
						<img src="{{arrayImg[0]}}" alt="">
					  </div>
					  <div class="carousel-item" *ngIf="arrayImg[1]">
						<img src="{{arrayImg[1]}}" alt="">
					  </div>
					  <div class="carousel-item" *ngIf="arrayImg[2]">
						<img src="{{arrayImg[2]}}" alt="">
					  </div>
					</div>
				  
					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
					  <span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
					  <span class="carousel-control-next-icon"></span>
					</a>
				  
				  </div>
	</section>


	<!-- Product -->
	<section class="bg0">
		<div class="container py-4">
			<div class="row pb-3 bordes">
				<div class="col-12 col-md-4 text-center fnt">
					<i class="material-icons en">local_shipping</i> Envíos a todo el país
				</div>
				<div class="col-12 col-md-4 text-center fnt">
					<i class="material-icons en">credit_card</i> Hasta 12 cuotas
				</div>
				<div class="col-12 col-md-4 text-center fnt">
					<i class="material-icons en">security</i> Compra protegida
				</div>
			</div>
		</div>
		<div class="container pt-5">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Productos destacados
				</h3>
			</div>

		
				

			<div class="row pt-4 isotope-grid">
				<div class="col-sm-6 col-md-4 col-6 col-lg-3 p-b-35 isotope-item women" *ngFor="let product of listFilter | slice : Desde : Hasta">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="{{product.img[0]}}" alt="IMG-PRODUCT">

							<a routerLink="/detalle/{{key}}/{{product.name}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
								Ver más
							</a>
						</div>
 
						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a routerLink="/detalle/{{key}}/{{product.name}}" class="stext-104 text-dark hov-cl1 trans-04 js-name-b2 p-b-6">
									{{product.name | uppercase | changeLine}}
								</a>

								<span class="stext-105 text-dark">
									${{product.price}}
								</span>
							</div>
						</div>
					</div>
				</div>


			<!-- Load more -->
			<div class="flex-c-m flex-w w-full pt-4 pb-5">
				<a  class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04 btn-more" style="cursor:pointer" routerLink="/productos/{{key}}">
					Ver todos los productos
				</a>
			</div>
		</div>
		</div>

	</section>
	
<app-footerweb>
</app-footerweb>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	<!-- Modal1 -->
	

<!--===============================================================================================-->	
	<script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/slick/slick.min.js"></script>
	<script src="/assets/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/assets/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/assets/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/assets/js/main.js"></script>
