<div class="main-content mt-2">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h3 class="card-title "><b> Mis productos </b></h3>
                      <button mat-raised-button class="pull-right mr-1" style="color:black!important" routerLink="agregar">Agregar producto</button>
                    </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Imagen
                                  </th>
                                  <th>
                                      Destacar
                                  </th>
                                  <th>
                                      Producto
                                  </th>
                                  <th>
                                      Stock
                                  </th>
                                  <th>
                                      Precio
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let toto of listProducts">
                                      <td class="img-th">
                                          <img src="{{toto.img[0]}}">
                                      </td>
                                      <td>
                                           <i *ngIf="!toto.destacado" class="material-icons cp" (click)="updateDest(toto)">check_circle_outline</i>

                                           <i *ngIf="toto.destacado === 'check_circle_outline'" class="material-icons cp" (click)="updateDest(toto)">check_circle_outline</i>
                                           <i *ngIf="toto.destacado === 'check_circle'" class="material-icons cp" (click)="updateDest(toto)">check_circle</i>

                                      </td>
                                      <td class="td-name">
                                          {{toto.name  | changeLineD }}
                                      </td>
                                      <td *ngIf="toto.stock !==0 ">
                                          {{toto.stock}}
                                      </td>
                                      <td *ngIf="toto.stock ===0 ">
                                            <b>SIN STOCK</b>
                                        </td>
                                      <td class="text-primary">
                                          $ {{ toto.price }}
                                      </td>
                                      <td class="text-primary td-button">
                                          <button mat-raised-button color="primary" routerLink="editar/{{toto.$key}}" >Editar</button>
                                    </td>
                                    <td class="text-primary td-button">
                                        <button mat-raised-button color="dangered" (click)="DestroyThis(toto.$key)">Borrar</button>                                            
                                      </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
