<div class="main-content mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title "> <b>Tabla de categorias </b></h3>
                        <button mat-raised-button class="pull-right mr-1" style="color:black!important" (click)="addCategory()">Agregar categoria</button>
                        <input type="text" class="pull-right mr-1 addCategory" placeholder="Nueva categoria..." name="nameCategory" [(ngModel)]="nameCategory">
                      </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nombre de categoria
                                    </th>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let toto of listCategory">
                                      <td>
                                        {{toto.name}}
                                      </td>
                                      <td>
                                        <button mat-raised-button color="primary" (click)="borrarCategoria(toto.$key)">Borrar</button>
                                      </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  