<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Información de tu web</h4>
                      <p class="card-category">Acá podes ver y configurar tu información.</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{client.marca}}" disabled>
                                  </mat-form-field>
                              </div>
                          
                              
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="WhatsApp" type="text" value="{{client.web.whatsapp}}" name="wp" [(ngModel)]="client.web.whatsapp">
                                </mat-form-field>
                              </div>
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Usuario de Instagram" type="text" value="{{client.web.instagram}}" name="inst" [(ngModel)]="client.web.instagram">
                                </mat-form-field>
                              </div>
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Usuario de Facebook" type="text" value="{{client.web.facebook}}" name="facebook" [(ngModel)]="client.web.facebook">
                                </mat-form-field>
                              </div>
                              <div class="col-md-12 mt-2">
                                        <a  color="primary" class="btn-mp" href="https://auth.mercadopago.com.ar/authorization?client_id=1396909180508686&response_type=code&platform_id=mp&redirect_uri=https://changofree.com/tienda/assets/php/validate.php?key={{client.$key}}" target="_blank">Configurar mercadopagos</a>
                                </div>
                          </div>
                          <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="updateUser()">Editar perfil</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="www.instagram.com/changofree">
                          <img class="img" src="../assets/img/chango.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Equipo de Marketing y Desarrollo digital</h6>
                      <h4 class="card-title">ChangoFree</h4>
                      <p class="card-description">
                        ChangoFree es una aplicación que se creo en busca de la agilización y automatización de la ventas de diversos productos. ¡Nuestro objetivo es que tu negocio sea cada día más grande!
                    </p>
                      <a href="wwww.instagram.com/changofree" class="btn btn-danger btn-round">Ver instagram</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
