<app-global></app-global>

<!-- *ngIf="boolTiempo" -->
<div *ngIf="boolTiempo" class="cont-img" (click)="hola()">
    <div class="img">
        <img src="{{oferta}}">
        <!-- <i class="material-icons close">close</i> -->
    </div>
</div>

<header>

<div class="container tam-15vh py-0 tt">
    <div class="row tam-15vh">
<div class="col-6 col-md-6 title-text">
    <b class="" *ngIf="!logo">
        {{Marca}}
    </b>
    <img class="img-logo" *ngIf="logo" src="{{logo}}">
</div> 
<div class="col-6 col-md-6">
    <b class="pull-right price" (click)="viewCart = true">
            <i class="material-icons pt-1">shopping_cart	
            </i>
            <b class="text-carrito">{{ProductosCarritos}}</b>
    </b>
</div>
</div>
</div>
<nav class="navbar hide-mob navbar-expand-lg navbar-light bg-light colorCliente">
    <div class="container lg-pad">
        
    <button class="hide navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <i class="material-icons">menu</i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link colorFuente" (click)="goHome()">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link colorFuente" (click)="goProduct()">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link colorFuente" (click)="goNosotros()">Contacto</a>
            </li>
          </ul>
        </div>
    </div>
</nav>
    <div class="container imp cont-mobile hide-note colorCliente">
        <div class="row text-center">
            <div class="col-4 cont-menu-mob {{Inicio}}">
                    <a class="mr-3 w-33 ftn-k colorFuente" (click)="goHome()"> Inicio</a>
            </div>
            <div class="col-4 cont-menu-mob {{Producto}}">
                    <a class="mr-3 w-33 ftn-k colorFuente" (click)="goProduct()"> Productos</a>   
            </div>
            <div class="col-4 cont-menu-mob {{Nosotros}}">
                    <a class="mr-3 w-33 ftn-k colorFuente" (click)="goNosotros()"> Contacto</a>
            </div>
        </div>
    </div>
</header>
<span *ngIf="viewCart">
	<app-carrito (viewCartd)="changeBoolean($event)" ></app-carrito>
</span>
		